
body {

}
#page_container {
  /*all content goes in here*/
}
header {
  /*top of content /maybe nav*/
  background: #3333ff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top, #3333ff , #ffcccc); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, #3333ff, #ffcccc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, #3333ff, #ffcccc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #3333ff , #ffcccc); /* Standard syntax */
}
.page_title {
  text-align: center;
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: .5em;
  padding-top: 40px;
}
div, h1, h2   {
  margin: 0;
}
hr {
  margin-bottom: 20px;
}
nav {
  margin: 20px auto;
  width: 35%;
}
#main {
  /*everthing under header*/
  position: relative;
}
.story_head {
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  text-decoration: underline;
}
#topics { 
  margin: 25px auto;
  width: 80%;
  line-height: 2em;
}
.lines_left {
  text-align: left;
   margin: 25px auto;
   width: 80%;
   line-height: 1.2em;
   background-color:#FFFAF0;
}
footer {
  /*bottom of content*/
}